grafana:
  adminPassword: admin
  defaultDashboardsEnabled: true
  service:
    type: ClusterIP

  ingress:
    enabled: true
    ingressClassName: alb
    annotations:
      alb.ingress.kubernetes.io/scheme: internet-facing
      alb.ingress.kubernetes.io/target-type: ip
      alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}]'
      alb.ingress.kubernetes.io/backend-protocol: HTTP
      alb.ingress.kubernetes.io/group.name: monitoring-stack
    hosts:
      - ""  # empty host allows access directly via ALB DNS
    path: /

  sidecar:
    datasources:
      enabled: true

  additionalDataSources:
    - name: Loki
      type: loki
      access: proxy
      url: http://loki:3100
      editable: true
      isDefault: false

prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
